@font-face {
    font-family: montserrat;
    src: url("assets/MontserratUnderline-VariableFont_wght.ttf");
}

body 
{
    font-family: montserrat;
    text-align: center;
    margin-top: 20%;
}


.textblock 
{
    position: absolute;
    font-family: montserrat;
    text-align: left;
    width: 400px; 
    height: 100px;
    top: 7vh;
    left: 2000px;
    border: 5px solid gray;
}

#scene1
{
    top: 70vh;
    left: 1000px;
}

#scene2
{
    left: 2000px;
}

#scene3
{
    top: 70vh;
    left: 2800px;
}

#ending 
{
    left: 3500px;
}

#timerDisplay 
{
    font-size: 1em;
    position: fixed;
    top: 5vh;
    left: 5vh;
    margin-bottom: 20px;
    background-color: white;
    z-index: 50;
}

#nose 
{
    position: absolute;
    z-index: -10;
    height: 100vh;
    top: 0;
    left: 0;
}

#threads 
{
    position: absolute;
    z-index: -1;
    height: 40vh;
    top: 26vh;
    left: 60vh;
}


#cat {
    position: absolute; 
    left: 3100px;
    font-family: monospace;
    white-space: pre;
    font-size: 10px;
    text-align: left;
    line-height: 1.2;
}

#bird {
    position: absolute; 
    left: 300px;
    font-family: monospace;
    white-space: pre;
    font-size: 10px;
    text-align: left;
    line-height: 1.2;
}


/*
#bird {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    display: none;
    block-size: 150px;
}
*/

#duolingo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    display: none;
}

#flow {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    display: none;
}

#shows {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    display: none;

}